* {
    margin:0;
    padding:0;
    box-sizing:0;
    font-family: Agency FB;
    
}
body{
    min-height: 100vh;
    background: linear-gradient(#2e2044,#FD5E53,#FC9C54);
    display: grid;
    place-items: center;
}
.calc{
background-color: rgba(9, 7, 36, 0.75);
color:#CFD7FF;
display: grid; 
grid-template-columns: repeat(4, 1fr);
width: 350px;
max-width: 100%;
padding:1rem;
border-radius: .5rem;
gap: .25rem;
}

.screen{
grid-column:1/5;
background-color: rgba(225, 225, 225, 0.5);
padding: 1.5rem;
font-size: 1.5rem;
text-align: right;
border-radius: .5rem;
margin-bottom: .5rem;
}
.btn {
    background-color: RGBA(192, 176, 255, 0.5);
    border:0;
    color:aliceblue;
    border-radius:0.25rem ;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn:hover{
    background-color:RGBA(192, 176, 255) ;
}

#cero {
    grid-column: 1/3;
}

#ig{
    color: #f12065;
    background-color: RGBA(9, 7, 36, 0.5);
    grid-row: span 2;    
}
 #ig:hover{
        background-color: RGBA(9, 7, 36, 1);
    }

#esp {
    color: #f12065;
    background-color: RGBA(9, 7, 36, 0.5);
}
#esp:hover{
    background-color: RGBA(9, 7, 36, 1);
}
#c {
    color: #f12065;
    background-color: RGBA(9, 7, 36, 0.5);
}
#c:hover{
    background-color: RGBA(9, 7, 36, 1);
}

#del {
    color: #f12065;
    background-color: RGBA(9, 7, 36, 0.5);
}
#del:hover{
    background-color: RGBA(9, 7, 36, 1);
}